[submodule "server"]
	path = server
	url = https://github.com/OCA/OCB
	branch = 14.0
[submodule "addons/addons_oca_server-brand"]
	path = addons/addons_oca_server-brand
	url = https://github.com/OCA/server-brand
	branch = 14.0
[submodule "addons/addons_oca_sale-workflow"]
	path = addons/addons_oca_sale-workflow
	url = https://github.com/OCA/sale-workflow
	branch = 14.0
[submodule "addons/addons_oca_product-attribute"]
	path = addons/addons_oca_product-attribute
	url = https://github.com/OCA/product-attribute
	branch = 14.0
[submodule "addons/addons_oca_server-tools"]
	path = addons/addons_oca_server-tools
	url = https://github.com/OCA/server-tools
	branch = 14.0
[submodule "addons/addons_oca_stock-logistics-workflow"]
	path = addons/addons_oca_stock-logistics-workflow
	url = https://github.com/OCA/stock-logistics-workflow
	branch = 14.0
[submodule "/workspace/addons/addons_purchase-workflow"]
	path = /workspace/addons/addons_purchase-workflow
	url = https://github.com/OCA/purchase-workflow
	branch = 14.0
